@import url(../../styles/variables.css);

.dropdown-bg,
button.flex-outlined-btn {
  display: flex;
  margin: 0;
}

.dropdown-bg{
  margin: .5rem 1rem;
  position: relative;
}

.dropdown {
  position: absolute;
  background: var(--secondary-bg-color);
  padding: none;
  left: auto;
  right: auto;
  border-radius: var(--button-radius);
  width: initial;
  height: 0;
  transform: translateY(40px);
  visibility: hidden;
  transition: height .5s, opacity .5s, visibility .5s, padding .1s;
  opacity: 0;
  overflow-y: hidden;
}

.dropdown.active {
  animation: unwrapHeight .5s;
  padding: .5rem;
  height: initial;
  visibility: visible;
  opacity: 1;
  z-index: 4;
}

@keyframes unwrapHeight {
  0%{
    height: 0;
  }
  100% {
    height: initial;
  }
}

.dropdown-list-item {
  padding: var(--button-padding);
  border-radius: var(--border-radius);
  cursor: pointer;
  
}
/* .dropdown-list-item h4 {
} */
.dropdown-list-item h4.active {
  color: var(--normal-color);
}
.dropdown-list-item:hover {
  background: var(--card-color);
}