@import url(../../styles/variables.css);

.genre-bg {
  display: inline;
}

.genre-bg, .genre-tile {
  /* width: 100%; */
  margin: 0 5px;
}

.genre-tile {
  background: var(--secondary-bg-color);
  display: flex;
  padding: 1rem 1.2rem;
  gap: var(--small-gap);
  align-items: center;
  border-radius: var(--button-radius);
}
.genre-tile.small {
  padding: .5rem .7rem;
}

.genre-tile:hover {
  background: var(--card-color);
}

.genre-icon {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
  border-radius: 50%;
}