#hero-section {
  height: 80%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  gap: var(--small-gap);
  overflow: hidden;
  max-height: 600px;
}

#hero-slider-bg {
  width: 95%;
  height: 100%;
  position: relative;
  border-radius: var(--border-radius);
  margin: auto;
  overflow: hidden;
}

#hero-login-banner {
gap: var(--small-gap);
  width: 95%;
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  margin: auto;
  background: var(--dark-card-color);
  border-radius: var(--border-radius);
}

.hero-slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), var(--bg-color));
  height: 100%;
}

#hero-slider-main {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#hero-details {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
  margin: 2rem;
  width: auto;
  margin-left: 2rem;
  flex: 1;
}

.slide-in-animation {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.slide-in-animation.active {
  opacity: 1;
  transform: translateX(0);
}

.pop-up-animation {
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.pop-up-animation.active {
  opacity: 1;
  transform: scale(1);
}

.hero-movie-title {
  transition-delay: 0.2s, 0.2s;
  /* font-weight: 10rem; */
}
.hero-overview-text {
  -webkit-line-clamp: 3;
  transition-delay: 0.4s, 0.4s;
}

.hero-meta-data {
  display: flex;
  place-items: center;
  gap: var(--small-gap);
  transition-delay: 0.6s, 0.6s;
}

.hero-data-rating-bg {
  width: fit-content;
  display: flex;
  align-items: center;
  padding: var(--medium-button-padding);
  border-radius: calc(var(--border-radius) / 1.1);
  background: var(--light-dark-bg-color);
  gap: 4px;
}

.hero-buttons {
  width: fit-content;
  display: flex;
  gap: 10px;
  padding: var(--padding);
}

#hero-main-details {
  transition-delay: 0.8s, 0.8s;
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  #hero-section {
    max-height: 500px;
  }

  #hero-slider-main {
    display: flex;
    padding: 0;
    width: 90%;
    justify-content: center;
  }

  .hero-welcome-side {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  #hero-main-details {
    text-align: none;
    width: 100%;
  }
  .hero-main-side {
    width: 60%;
  }

  .hero-movie-title {
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 768px) {
  .hero-main-side {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #hero-main-details {
    width: auto;
    padding: var(--padding);
  }

  #hero-slider-main {
    align-items: flex-end;
  }

  .hero-buttons {
    display: none;
  }
  h3.hero-overview-text {
    -webkit-line-clamp: 2;
  }

  .hero-movie-title {
    font-size: 2rem;
  }

  #hero-main-poster {
    display: none;
  }

  .hero-buttons {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .hero-main-side {
    width: 80%;
  }
  .hero-movie-title {
    font-size: 5vw;
  }
}
