.main-genre-bg {
  width: 100%;
  position: sticky;
  display: flex;
  display: flex;
  align-items: center;
}
.main-genre-bg.vertical {
  padding: 1rem 0;
  flex-direction: column;
}
.main-genre-bg.horizontal {
  padding: .5rem 0;
  flex-direction: row;
}
.main-genre-bg.horizontal h5 {
  display: none;
}

.main-genre-bg h5 {
  color: var(--text-color);
  height: 100%;
  align-items: center;
}
