@import url(./variables.css);

#auth-section {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all .5s;
}

.auth-section-img {
  object-fit: cover;
  min-height: 100vh;
  height: 100%;
  display: flex;
  opacity: .3;
}

.auth-section-body {
  width: 100%;
  max-width: 450px;
  position: absolute;
  right: auto;
  left: auto;
  height: 100%;
  background: var(--bg-color);
}

.auth-card-bg {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: var(--padding);
  gap: var(--small-gap);
}

.dialog-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: calc(var(--small-gap) * 2);
  transition: all .5s;
}

.auth-or-text {
  width: 100%;
  text-align: center;
  margin-top: .3rem;
}

.auth-input-feilds {
  display: flex;
  gap: var(--small-gap);
  width: 100%;
  align-items: center;
  justify-content: center;
  background: var(--secondary-bg-color);
  padding: var(--button-padding);
  border-radius: var(--button-radius);
}

.auth-inputs{
  padding: var(--mini-padding);
  flex: 1;
}

.auth-btn{
  width :100%;
}

#auth-forgot {
  align-self: flex-end;
}

#auth-forgot > * {
  color: var(--normal-color);
  padding: 0 .4rem;
  cursor: pointer;
}

#auth-action-btns {
  padding: var(--small-gap) 1rem;
  width: 100%;
  display: flex;
  gap: var(--small-gap);
}

#switch-btn {
  color: white;
}