@import url(./variables.css);

#details-section {
  display: flex;
  height: fit-content;
  flex-direction: column;
}

#details-main-bg {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 2rem;
  padding-left: 0;
  padding: var(--padding);
  gap: calc(var(--small-gap) * 4);
}

#details-hero-bg {
  display: flex;
  width: 100%;
  overflow: hidden;
  gap: var(--small-gap);
}

#details-info-bg {
  display: flex;
  flex-direction: column;
  gap: calc(var(--small-gap) * 4);
  overflow: hidden;
  background: rgba(0, 0, 0, 0.95);
  border-radius: var(--border-radius);
  position: relative;
  aspect-ratio: 16/9;
  height: auto !important;
  width: 100%;
}

#details-info-bg .thumbnail {
  width: 100%;
  height: auto !important;
  aspect-ratio: 16/9;
  position: relative;
  border-radius: var(--border-radius);
  /* object-fit: cover; */
}

.hero-action-btn {
  width: 100%;
  gap: calc(var(--small-gap) * 2);
  margin-bottom: var(--small-gap);
}

.hero-meta-bg {
  margin: 0 1rem;
  width: 100%;
  background: var(--secondary-bg-color);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  gap: var(--small-gap);
  width: 40%;
}

.hero-meta-data {
  gap: var(--small-gap);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: auto;
  flex: 1;
}

#details-info {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
  padding: var(--padding);
  aspect-ratio: 16/9;
  position: absolute;
  justify-content: flex-end;
  background: var(--darkGradientOverlay);
}

#details-hero-data-title {
  padding: 0 8px;
}

#details-genre-cta-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#details-genre-list {
  display: block;
  gap: var(--small-gap);
}

.hero-action-btn {
  width: auto;
  min-width: 200px;
}

.details-genre {
  display: inline-flex;
  margin: 4px;
}

#details-bullets-bg {
  display: block;
  gap: calc(var(--small-gap) * 2);
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.details-bullets-holder {
  display: inline-flex;
  padding: 8px;
}

.details-bullets {
  display: flex;
  gap: var(--small-gap);
}

.details-bullet-text {
  margin: auto 0;
}

#details-main-summary {
  display: flex;
  flex-direction: column;
  gap: calc(var(--small-gap) * 2);
}

/*  */

#details-main h4 {
  color: var(--text-color);
}
#details-main h3 {
  color: var(--accent-color);
}

.datails-container {
  width: 100%;
}

#casts-container {
  display: flex;
  width: 100%;
  padding: 1rem 0;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 992px) {
  #details-section {
    flex-direction: column;
  }

  #details-hero-bg {
    flex-direction: column;
  }

  #details-info-bg,
  #details-info-bg .thumbnail {
    aspect-ratio: 4/3;
    object-fit: cover;
  }

  #details-info {
    height: 100%;
  }

  .hero-meta-bg {
    width: 100%;
    margin: 0;
  }

  .hero-trailer-bg {
    padding: 0;
    background: none;
    width: auto;
    overflow: none;
  }

  .hero-trailer-bg .weight {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #details-info-bg {
    align-items: flex-start;
  }

  /* new update up */

  #details-hero-data {
    display: flex;
    margin-top: calc(var(--header-height) + 1.5rem);
  }

  #details-hero-data-bg {
    height: min-content;
  }

  .details-hero {
    /* min-height: 120%; */
    align-items: flex-end;
  }

  #details-main-bg {
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 576px) {
  #details-info-bg {
    position: static;
    aspect-ratio: unset;
    background: transparent;
  }

  #details-info {
    position: static;
    background: transparent;
    padding: 10px 0;
    aspect-ratio: unset;
    /* height: auto; */
  }

  .hero-meta-bg {
    flex-direction: column-reverse;
  }
}
