@import url(./variables.css);

#details-section {
  display: flex;
  height: fit-content;
}

#details-main {
  width: 70%;
}

#details-review-bg {
  margin: 1rem;
  width: calc(30% - 1rem);
  max-height: 600px;
  height: 100%;
  position: sticky;
  background: var(--secondary-bg-color);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  overflow-y: auto;
  gap: var(--small-gap);
}

#details-review {
  width: 100%;
  text-align: center;
}

#details-hero-image {
  width: 100%;
  object-fit: cover;
  display: flex;
  height: 100%;
  /* flex-grow: 1; */
  position: absolute;
}

#details-bg {
  display: flex;
  width: 100%;
}

#details-hero-data-bg {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: linear-gradient(
    to bottom,
    var(--light-dark-bg-color),
    var(--bg-color)
  );
}

.details-hero {
  min-height: 100%;
  display: flex;
  border-radius: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#details-hero-poster {
  width: 30%;
  max-width: 200px;
  min-width: 150px;
  height: 60%;
  aspect-ratio: 2/3;
  max-height: 350px;
}

#details-hero-poster img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  border-radius: var(--border-radius);
  background-position: bottom;
}

#details-hero-data {
  display: flex;
  align-items: center;
  gap: calc(var(--small-gap) * 3);
  width: 80%;
  justify-content: center;
  flex-grow: 1;
  margin-top: calc((var(--header-height) / 2) + 1rem);
}

#details-others {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 1rem;
  margin-top: var(--header-height);
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  border-radius: var(--border-radius);
  padding: var(--button-padding);
  height: auto;
  gap: var(--small-gap);
}

.datails-single-line {
  display: flex;
  align-items: center;
  gap: var(--small-gap);
}

.details-top-credit {
  display: flex;
}

#details-hero-data-info {
  height: 60%;
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
  justify-content: flex-end;
  width: 50%;
}

#details-hero-data-buttons {
  display: flex;
  gap: calc(var(--small-gap));
}

/* New update */

#details-main-bg {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 2rem;
  padding-left: 0;
  padding: var(--padding);
  gap: calc(var(--small-gap) * 4);
}

#details-hero-bg {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: var(--border-radius);
}

#details-video-bg {
  width: 100%;
  aspect-ratio: 16/9;
}

#details-info-bg {
  display: flex;
  flex-direction: column;
  gap: calc(var(--small-gap) * 4);
  overflow: hidden;
  background: rgba(0, 0, 0, 0.95);
  backdrop-filter: blur(10px);
}

#details-info-poster {
  width: 30%;
  min-width: 120px;
  max-width: 170px;
  overflow: hidden;
  height: fit-content;
}

#details-info {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
  padding: var(--padding);
  height: 100%;
}

#details-hero-data-title {
  padding: 0 8px;
}

#details-genre-list {
  display: block;
  gap: var(--small-gap);
}

.details-genre {
  display: inline-flex;
  margin: 4px;
}

#details-bullets-bg {
  display: block;
  gap: calc(var(--small-gap) * 2);
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.details-bullets-holder {
  display: inline-flex;
  padding: 8px;
}

.details-bullets {
  display: flex;
  gap: var(--small-gap);
}

.details-bullet-text {
  margin: auto 0;
}

#details-main-summary {
  display: flex;
  flex-direction: column;
  gap: calc(var(--small-gap) * 2);
}

/*  */

#details-main h4 {
  color: var(--text-color);
}
#details-main h3 {
  color: var(--accent-color);
}

.datails-container {
  width: 100%;
}

#casts-container {
  display: flex;
  width: 100%;
  padding: 1rem 0;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 992px) {
  #details-section {
    flex-direction: column;
  }

  #details-main,
  #details-review-bg {
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  #details-info-bg {
    align-items: flex-start;
  }

  /* new update up */

  #details-hero-data {
    display: flex;
    margin-top: calc(var(--header-height) + 1.5rem);
  }

  #details-hero-data-bg {
    height: min-content;
  }

  .details-hero {
    /* min-height: 120%; */
    align-items: flex-end;
  }

  #details-main-bg {
    padding: 0.5rem 1rem;
  }
}
