@import url(./variables.css);

#details-section {
  display: flex;
  flex-direction: column;
  position: relative;
}

#details-hero-image {
  width: 100vw;
  object-fit: cover;
  display: flex;
  position: relative;
}

#details-bg {
  position: absolute;
  display: flex;
  width: 100vw;
}

#details-main {
  width: 100%;
}

#details-hero-bg {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  padding-top: var(--header-height);
}

#details-hero-data-bg {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, var(--light-dark-bg-color), var(--bg-color));
}

.details-hero {
  min-height: 500px;
  display: flex;
  max-height: 70vh;
  border-radius: 0;
  align-items: center;
  justify-content: center;
}

#details-hero-poster {
  width: 200px;
  height: 60%;
  aspect-ratio: 2/3;
}

#details-hero-poster img{
  height: 100%;
  object-fit: cover;
  width: 100%;
  border-radius: var(--border-radius);
  background-position: bottom;
}
#details-hero-data {
  height: 100%;
  display: flex;
  align-items: center;
  gap: calc(var(--small-gap) * 3);
  width: 80%;
  justify-content: center;
  flex-grow: 1;
  margin-top: calc((var(--header-height) / 2) + 1rem);

}

#details-others {
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin: 1rem;
  margin-top: var(--header-height);
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(10px);
  border-radius: var(--border-radius);
  padding: var(--button-padding);
  height: auto;
  gap: var(--small-gap);
}

.datails-single-line {
  display: flex;
  align-items: center;
  gap: var(--small-gap);
}

.details-top-credit{
  display: flex;
}

#details-hero-data-info {
  height: 60%;
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
  justify-content: flex-end;
}

#details-genre-list {
  display: flex;
  gap: var(--small-gap);
}

#details-genre-list > * {
  margin: .3rem;
  display: inline-block;
  align-content: center;
}

#details-bullets-bg {
  display: flex;
  gap: calc(var(--small-gap) * 2);
  padding: var(--padding);
}

.details-bullets {
  display: flex;
  gap: var(--small-gap);
}

#details-hero-data-buttons {
  display: flex;
  gap: calc(var(--small-gap));
}

#details-main-bg {
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 2rem;
  gap: calc(var(--small-gap) * 4);
  height: auto;
}


#details-main-summary {
  display: flex;
  flex-direction: column;
  gap: calc(var(--small-gap) * 2);
}

/*  */

#details-main h4 {
  color: var(--text-color);
}
#details-main h3 {
  color: var(--accent-color);
}

.datails-container {
  width: 100%;
}

#casts-container {
  display: flex;
  width: 100%;
  padding: 2rem 0 1rem 0;
}


@media screen and (max-width: 710px) {
  .details-hero{
    max-height: 1000vh;
    align-items: flex-end;
  }

  #details-hero-data {
    display: flex;
    flex-direction: column;
    margin-top: calc(var(--header-height) + 1.5rem);
  }
  #details-hero-data-info {
    width: 85%;
    align-items: center;
  }

  #details-main-bg {
    margin-top: 3rem;
    padding: .5rem 1rem;
  }
}