.search-box {
  display: flex;
  margin: 0;
  cursor: pointer;
  background: var(--secondary-bg-color);
}

.search {
}

form.search-box {
  display: flex;
  gap: var(--small-gap);
}

form.search-box .search.active{
  /* width: clamp(7rem, 15vw, 10rem); */
  width: 80%;
  max-width: 500px;
}

@media screen and (max-width: 768px) {
  /*-==========- Tablet screens -==========*/
  .search {
    width: fit-content;
    display: none;
  }
}
