@import url(../../styles/variables.css);
@import url(../../styles/general.css);

header {
  display: flex;
  height: var(--header-height);
  width: calc(100% - var(--sidebar-width));
  position: fixed;
  z-index: 40;
  transition: all .4s;
  margin-left: var(--sidebar-width);
  backdrop-filter: blur(10px);
}
header.shrink {
  background-color: var(--light-dark-bg-color);
}

#container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3vw;
  width: 100%;
  /* margin-left: 1rem; */
  /* width: 95%; */
}

header div {
  display: flex;
  align-items: center; 
  gap: var(--small-gap);
}

#HeaderAction, .header-action-box {
  gap: calc(var(--small-gap) * 3);
}

#header-logo {
  width: calc(var(--header-height) /1.5);
  margin: 0;
  object-fit: contain;
  background: none;
  visibility: hidden;
}

#profile {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: clamp(2rem, 5vw, 2.5rem);
  width: clamp(2rem, 5vw, 2.5rem);
  object-fit: cover;
  border-radius: 1000px;
  background: var(--secondary-bg-color);
  transition: all 200ms;
}

#profile:hover {
  scale: 1.05;
  /* border: solid 2px var(--primary-color); */
}

@media screen and (max-width: 560px ){
  header {
    width: 100%;
    margin: 0;
  }

  #header-logo {
    visibility: visible;
  }
}