/* Nav */
nav {
  position: fixed;
  display: flex;
  height: 100%;
  z-index: 30;
  transition: all 0.3s;
  width: fit-content;
}

nav.active {
  z-index: 111;
  width: 100%;
  background: var(--light-dark-bg-color);
}

/* Inner nav */
#nav-bg {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: var(--sidebar-width);
  gap: var(--small-gap);
  margin: 0;
  padding: var(--padding);
  padding-top: 0;
  background-color: var(--bg-color);
  align-items: center;
  transition: all 0.3s;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: solid 2px var(--secondary-bg-color);
}

#nav-bg.active {
  width: var(--open-sidebar-width);
}

/* Logo */
#nav-logo {
  width: calc(var(--sidebar-width) / 1.7);
  height: var(--header-height);
  background: none;
}

.nav-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 0.4rem;
}

.nav-tile {
  width: 100%;
  display: flex;
  padding: 1rem;
  border-radius: var(--border-radius);
  gap: 12px;
  cursor: pointer;
  transition: all 500ms;
  margin: 0.2rem 0;
  background: var(--dark-card-color);
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.nav-tile.active {
  justify-content: flex-start;
}

.nav-tile * {
  color: var(--white-color);
}

h5.nav-text {
  color: var(--text-color);
  display: none;
  flex: 1;
  overflow: hidden;
}

nav.active h5.nav-text {
  display: inline-block;
}

.nav-tile:hover {
  background: var(--card-color);
}

.nav-tile.active {
  background: var(--primary-color);
  border: none;
}
.nav-tile.active * {
  color: var(--white-color);
}

@media screen and (max-width: 576px) {

  nav {
    position: fixed;
    width: 100%;
    height: 10%;
    max-height: 5rem;
    min-height: 4rem;
    top: auto;
    bottom: 0;
  }

  nav.active {
    z-index: 111;
    background: var(--light-dark-bg-color);
  }

  nav.active .nav-tile,
  nav.active #nav-shortcut {
    width: 100%;
  }

  nav.active .nav-indicator-text {
    text-align: start;
  }

  #nav-bg {
    width: 100%;
    flex-direction: row;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    background: var(--secondary-bg-color);
    border: none;
  }

  #nav-bg.active {
    width: 100%;
  }
  
  #nav-logo {
    display: none;
  }

  .nav-item {
    display: flex;
    width: 100%;
    flex-direction: column;
    place-content: center;
    height: 100%;
    width: fit-content;
    background: none;
  }

  #nav-shortcut {
    position: fixed;
    top: auto;
    bottom: 10%;
    left: auto;
    right: 0;
    background: var(--secondary-bg-color);
    width: auto;
    padding: var(--padding);
    border-radius: 0.8rem 0.8rem 0 0;
    display: none;
  }

  .nav-shortcut,
  .nav-weight {
    display: none;
  }

  .nav-tile {
    width: fit-content;
    margin: 0.2rem 0;
    border-radius: 1rem;
    flex-direction: column;
    padding: 0.5rem;
    background: none;
  }

  .nav-tile:hover {
    background: var(--bg-color);
  }

  .nav-tile.active {
    background: none;
  }

  .nav-tile.active > * {
    color: var(--normal-color);
  }

  #nav-icon {
    /* font-size: 13px; */
  }

  h5.nav-text {
    font-size: 11px;
    display: flex;
  }
}
