@import url(../../styles/variables.css);


.action-card-bg {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: var(--light-dark-bg-color);
  align-items: flex-start;
  justify-content: flex-end;
}

.action-card{
  width: 70%;
  max-width: 300px;
  margin: .5rem;
  margin-top: var(--header-height);
  justify-content: flex-start;
  gap: var(--small-gap);
  position: relative;
}

.action-card-close {
  position: absolute;
  margin: 1rem;
}

#action-card-profile {
  width: 100px;
  height:100px;
  border-radius: 50%;
}

.action-card-error-text {
  margin: 0 1rem;
  width: 85%;
}

.action-card-action-btn-bg {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.action-card-other {
  display: flex;
  flex-direction: column;
  width: 90%;
  /* background: var(--card-color); */
  border-radius: var(--border-radius);
  margin: 1rem 0;
  padding: .5rem;
  gap: var(--small-gap);
}

.action-card-tile {
  display: flex;
  align-items: center;
  gap: var(--small-gap);
  width: 100%;
}

.action-card-tile-text {
  flex: 1;
}