@import url(../../styles/animations.css);

#section-group-tile {
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  margin: 0.8rem;
  border-radius: var(--border-radius);
  gap: calc(var(--small-gap) * 3);
  padding-top: 1.1rem;
  overflow-y: hidden;
  transition: height .5s;
  height: 0px;
  animation: expandHeight 2s;
  height: initial;
}

#section-group-tile.card {
  background-color: var(--secondary-bg-color);
  margin: auto 0;
}

#section-group-header{
  display: flex;
  justify-content: space-between;
}

#section-group-header button {
  padding: .5rem .7rem;
}

#section-group-header button.card {
  display: none;
}

#section-group-main {
  width: 100%;
  display: flex;
  overflow-x: hidden;
  gap: var(--small-gap);
}

.swiper-slide {
  width: auto;
}

.section-children {
  display: flex;
  padding: var(--padding);
  background: var(--bg-color);
  border-radius: var(--button-radius);
}
