@import url(../../styles/variables.css);

#section-group-tile {
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  margin: 0.8rem;
  border-radius: var(--border-radius);
  gap: calc(var(--small-gap) * 3);
  padding-top: 1.1rem;
}

#section-group-tile.card {
  background-color: var(--card-color);
}

#section-group-header{
  display: flex;
  justify-content: space-between;
}

#section-group-header button {
  padding: .5rem .7rem;
}

#section-group-header button.card {
  display: none;
}

#section-group-main {
  width: 100%;
  display: flex;
  overflow-x: hidden;
  gap: var(--small-gap);
}

.swiper-slide {
  width: auto;
}
